/* index page */

.maincontainer {
    margin-top: 50px;
    margin-left: 300px;
    background-color: #BABABA;
    width: 900px;
    height: 600px;
}
.search {
    display: flex;
    font-size: 16px;
    font-size: x-large;
    justify-content: center;
    background-color: gray;
    padding: 18px;
}

/* navbar */
nav {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
}

.dropbtn {
    background-color: #C3C3C3;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.nav-button{
    width: 160px;
    height: 30px;
    font-size: 23px;
    background-color: #C3C3C3;
}
/* login page */
.logincontainer{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 80px;
    margin-left: 540px;
}
.login{
    background-color:#E5E5E5;
    border-radius: 15px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.register-button{
    display: flex;
    margin-left: 170px;
    margin-top: -20px;
}
.register-a{
    text-decoration: none;
}
.login-a{
    text-decoration: none;
}
.login-button{
    display: flex;
    margin-left: 170px;
    margin-top: -20px;
}
/* my-code */
.my-code-title{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: -10px;
}
/* edit-code */
.edit-code-text{
    display: flex;
    flex-direction: column;

    }
    .edit-code-input{
    display: flex;
    justify-content: center;
    }
    .edit-submit-button{
    display: flex;
    }
    .edit-code-input-text{
        width: 1000px;
    }
    .edit-body{
        margin-top: 50px;
        margin-left: 150px;
        background-color: #BABABA;
        width: 1200px;
        height: 900px;
    }
    /* contact */
.formulier {
    background-color: lightgray;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 700px;
}


.verzend {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}
.contactbody{
    display: flex;
    justify-content: center;
}